/* =================pulication page=============== */
.book-img {
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.img1 {
    border: 0.5px solid #FFFFFFB3;
    margin-right: 30px;
}
.img2 {
    border: 0.5px solid #FFFFFFB3;
}


#available {
background-color: black;
margin-bottom: -25px;
}
.text-center>h5 {
color: white;
}
.text-center>p{
    color: #FFFFFFB3;
}
.text-center>h1{
    color: white;
}


/* ==============navbar======================= */
#nav {
    background-color: black;
    padding-top: 0px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
position: sticky;
top: 0px;
z-index: 1;
}

.icon {
    color: white;
    font-size: 20px;
    padding-right: 30px;
    padding-top: 10px;
}
#nav-button {
    background-color: red;
    border-radius: 60px;
    color: white;
    height: 55px;
    margin-right: 50px;
    width: 150px;
    margin-top: 10px;
}


/*===========footer================= */
#footer {
    background-color:  rgb(8, 10, 10);
    color: white !important;
    padding-top: 80px;
 } 
